/*
@media (max-width:1200px) {
  max-width: 970px;
}
@media (max-width:992px) {
  max-width: 750px;
}
@media (max-width:767px) { //на этом брекпойнте бурег-меню появляться должно
  max-width: 650px;
}
@media (max-width:576px) {
  max-width: none;
}*/
